{% extends "base1.html.twig" %}





{% block body %}
    <br><br><br>
    <p></p>
    {#<section class="jumbotron text-center">#}
    {#    <div class="container">#}
    {#        <h1 class="jumbotron-heading">E-COMMERCE CATEGORY</h1>#}
    {#        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>#}
    {#    </div>#}
    {#</section>#}

    </div>
    <div class="campanii">
        <div class="row">
            <div class="col-3 elem1 "><h3><a href="/employee/list"> Employees</a></h3></div>
            <div class="col-3  elem1"><h3><a href="/bill/list"> Bills</a></h3></div>

        </div>
    </div>
    <div class="campanii">
        <div class="row">
            <div class="col-sm-3 mr-auto elem1 "><h3><a href="/company/list"> Companies</a></h3></div>
            <div class="col-sm-3 mr-auto elem1 "><h3><a href="/customer/list"> Customers</a></h3></div>
        </div>
        <div class="row"><a href="/customer/list"></a></div>
    </div>

{% endblock %}
