{% extends "base1.html.twig" %}





{% block body %}
    <br><br><br>
    <p>  </p>
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="container-fluid">
{#        <div class="col-md-6"> <p> </p></div>#}
    <div class="container" align="center">
        <div class="col-md-3">
            <div class="form-group">
                {{ form(form) }}
            </div>
            <a href="{{ url('login') }}">Login</a>
        </div>
    </div>
    </div>
{% endblock %}